<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>show drivers by town</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <div clas="container">

        <div class="row">

            <div class="col">
                <ul>
                    <li><a href="{{url_for('show_drivers_by_town',town='ntinda')}}">kampala_ntinda</a></li>
                    <li><a href="{{url_for('show_drivers_by_town',town='kyanjya')}}">kampala_kyanjya</a></li>
                    <li><a href="{{url_for('show_drivers_by_town',town='bukoto 1')}}">bukoto1</a></li>
                    <li></li>
                </ul>
            </div>

            <div class="col">
            </div>

            <div class="col">
            </div>

            <div class="col">
            </div>

        </div>

    </div>   

</body>
</html>